@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Krub";
  src: url("../assets/fonts/Krub-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "KrubBold";
  src: url("../assets/fonts/Krub-Bold.woff2") format("woff2");
}

.krub-bold {
  font-family: "KrubBold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-line-color {
  background-color: white;
}

.change-line-color {
  background-color: green;
}
